.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 30px;
}
.logo {
  height: 100px;
  width: auto;
  border-radius: 15px;
}
.loginBtn {
  padding: 6px 20px;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  background: #2b3887;
  border: 1px solid #101f3e;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border: none;
}
.loginBtn:hover {
  box-shadow: 0 14px 18px rgba(255, 252, 252, 0.1);
}

.dropdown-menu {
  background-color: #101f3e;
}

.dropdown-item {
  color: #fff;
}
