/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

/* Swiper Pagination Bullet */
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-pagination-bullet {
  width: 28px !important;
  height: 6px !important;
  background: black !important;
  z-index: 999px !important;
  border-radius: 4px !important;
}

marquee {
  background: #0e1614;
  color: rgb(241, 235, 235);
  padding: 10px;
  font-size: 14px;
}
/* .border-base{
  border-bottom: 1px solid #727272;
  box-shadow: 1px 2px 3px #000;
} */
.homeBody {
  /* background-image: url('../../img/bg.png'); */
  background: #101f3e;
  padding-bottom: 120px;
}
.bannerImg {
  height: 250px;
  vertical-align: middle;
  width: 100%;
}
.hero {
  position: relative;
}
.heroSidebar {
  font-weight: 600;
  cursor: pointer;
  width: 60px;
  padding: 15px 0 10px 0;
  border-radius: 10px 0 0 10px;
  position: absolute;
  right: 0;
  bottom: -40%;
  color: white;
  text-align: center;
  border: 1px solid gray;
  background: linear-gradient(
    20deg,
    rgba(53, 69, 169, 1) 0%,
    rgba(43, 55, 132, 1) 10%,
    rgba(16, 31, 62, 1) 100%
  );
  box-shadow: 0 3px 10px #00000085;
  z-index: 9;
}
.homeFooter {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #101f3e;
  background: linear-gradient(
    20deg,
    rgba(53, 69, 169, 1) 0%,
    rgba(43, 55, 132, 1) 10%,
    rgba(16, 31, 62, 1) 100%
  );
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}
.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
}
.homeFooter {
  z-index: 999;
}
.homeFooter i {
  font-size: 22px !important;
  font-weight: 600;
}
.homeFooter p {
  font-size: 12px;
  font-weight: 500;
}
.heroSidebar p {
  font-size: 10px;
  font-weight: 500;
}
.category {
  border-radius: 12px;
  padding: 15px 25px;
  border: 1px solid #f2f2f2;
  background: #b4202e;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-bottom: 5px solid #949497;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.category:hover {
  border: 1px solid #1c295c;
  background: #1c295c;
  color: white;
  box-shadow: #0e1614;
}
.category p {
  margin: 0;
  padding: 0;
}
.categoryImg {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.categoriesAndWinner {
  margin-top: 40px;
}
.winnerContainer {
  background: #736b3f;
  color: white;
  border-radius: 15px;
  border: 3px solid grey;
  width: max-content;
  margin: 80px auto auto auto;
  cursor: pointer;
  /* height: max-content; */
}
.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 5px 10px;
  margin: auto;
}
.winnerBadge {
  margin-top: -36px;
  background: #f9d819;
  color: black;
  width: max-content;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 16px;
}
.winner img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.winnerText {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.winnerText p {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.homeGamesContainer {
  background: #0000004d;
  color: #f2dfb6;
  text-align: center;
  border-radius: 10px;
  border-bottom: 2px solid #daa156;
}
.homeGamesContainer h1 {
  color: #e9c791;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 900 !important ;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  flex-wrap: wrap;
}
.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 8px 0 0;
}
.tab img {
  height: 70px;
  width: auto;
}
.tab span {
  font-size: 20px;
  font-weight: 600;
}
.activeGameTab {
  border-radius: 15px;
  border: 1px solid #daa156;
  border-bottom: 4px solid #daa156;
}
.gameTabData {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 5px;
}
.gameTabImg {
  border: 3px solid black;
  border-radius: 20px;
  margin: 5px;
  max-height: 155px;
}
.gameTitle {
  color: #ffd500;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 15px;
}
.gameTitleBar {
  height: 2px;
  width: 70%;
  background: #ffd500;
}

.gamesGrid {
  /* display: flex;
   gap: 20px;
   flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.game img {
  /* border: 2px solid black; */
  border-radius: 10px;
  /* max-height: 160px; */
  width: 100%;
  height: auto;

  cursor: pointer;
}
.game p {
  color: white;
}
.game {
  transition: all 0.5s ease-in-out;
}
.game:hover {
  transform: translateY(-20px);
}
.copyright {
  background: rgba(13, 38, 34, 0.7);
  text-align: center;
  padding: 10px 0;
  color: grey;
  font-size: 14px;
}
.copyright p {
  margin: 4px 0;
}
.platform {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
  color: #ffffff7a;
  text-align: center;
  width: 80%;
  margin: 60px auto;
}
.platformIcon {
  height: 20px;
  width: auto;
  margin: 0 4px;
}
.policy {
  padding: 10px 20px;
  background-color: #00000014;
  border-radius: 15px;
  width: max-content;
  margin: 20px auto;
}
.owlImg {
  width: 100px !important;
  height: 70px;
  object-position: center;
}
.owl-dots {
  display: none !important;
}
.categoryGames {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: auto;
}
.categoryGame {
  /* height: 215px; */
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}
@media screen and (max-width: 1030px) {
  .gamesGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1029px) {
  .gameTabData {
    grid-template-columns: repeat(4, 1fr);
  }
  .categoriesAndWinner {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: 10px !important;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .categories {
    margin-top: 20px !important;
    flex-direction: column !important;
  }
  .winnerContainer {
    position: sticky !important;
    top: 0 !important;
    left: 10% !important;
    margin: 20px 20px 0 0 !important;
  }
  .category {
    padding: 10px 15px;
  }
  .category p {
    font-size: 14px;
  }
  .homeGamesContainer {
    margin-left: 140px !important;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1028px) {
  .categoryGames {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
}
@media screen and (max-width: 1015px) {
  .gamesGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .gameTitleBar {
    width: 100%;
  }
  .logo {
    height: 80px !important;
  }
  .homeGamesContainer {
    margin-left: 20px !important;
  }
  .tabs {
    column-gap: 40px;
  }
  .tab img {
    height: 50px;
  }
}
@media screen and (max-width: 920px) {
  .categoryGames {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 860px) {
  .winnerText p {
    font-size: 16px !important;
  }
  .winner img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 820px) {
  .gamesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .categoryGames {
    grid-row-gap: 0px;
  }
}
@media screen and (max-width: 740px) {
  .gameTitle {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    text-wrap: nowrap;
    margin-right: 5px;
  }
}
@media screen and (max-width: 700px) {
  .gameTabImg {
    max-height: 140px;
  }
  .policy p {
    font-size: 13px;
  }
}
@media screen and (max-width: 670px) {
  .gamesGrid {
    column-gap: 15px;
  }
}
@media screen and (max-width: 650px) {
  .category {
    padding: 10px 15px;
  }
  .category p {
    font-size: 12px;
  }
  .tab img {
    padding: 0 10px;
  }
  .platform {
    width: 100%;
  }
  .categoryGames {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 620px) {
  .tab img {
    height: 40px;
    padding: 0;
  }
  .tab span {
    font-size: 15px;
  }
  .gamesGrid {
    column-gap: 20px;
    padding: 0 !important;
  }
  .game img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .category {
    padding: 10px 13px;
  }
  .category p {
    font-size: 11px;
  }
}
@media screen and (max-width: 580px) {
  .game img {
    border-radius: 10px;
    max-height: 130px;
  }
}
@media screen and (max-width: 540px) {
  .categoryImg {
    width: 30px;
    height: 40px;
  }
  .categories {
    gap: 20px !important;
  }
  .gameTabImg {
    max-height: 110px;
  }
}
@media screen and (max-width: 530px) {
  .tab img {
    height: 40px;
  }
  .categoryGame {
    margin-top: -20px;
  }
}
@media screen and (max-width: 500px) {
  .copyright {
    padding-bottom: 100px;
  }
  .categoryGame {
    margin-top: -35px;
  }
  .copyright p {
    font-size: 14px;
  }
  .platform {
    padding: 10px 5px;
  }
  .platform span {
    font-size: 13px;
  }
  .homeGamesContainer h1 {
    font-size: 26px;
  }
  .tabs {
    column-gap: 20px;
  }
  .logo {
    height: 60px !important;
  }
  .bannerImg {
    height: 220px;
    border-radius: 0 !important;
    width: 100%;
    object-fit: cover;
    padding: 0px;
  }
  .homeFooter {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .category {
    padding: 2px 4px;
    border-radius: 8px;
  }
  .category p {
    font-size: 12px;
  }
}
@media screen and (max-width: 485px) {
  .game img {
    max-height: 110px;
  }
  .category p {
    font-size: 10.5px;
  }
}
@media screen and (max-width: 470px) {
  .gameTabImg {
    max-height: 80px;
    border-radius: 15px;
  }
  .categoryGames {
    grid-row-gap: 10px;
  }
  .categoryGame {
    height: auto;
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .categories {
    gap: 5px !important;
  }
}
@media screen and (max-width: 440px) {
  .winnerText {
    column-gap: 20px;
  }
  .categoriesAndWinner {
    margin-left: 5px !important;
  }
  .tabs {
    column-gap: 10px;
  }
}
@media screen and (max-width: 428px) {
  .game img {
    max-height: 100px;
  }
  .gamesGrid {
    gap: 10px;
  }
  .categories {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  .policy p {
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
  .categoryGames {
    grid-column-gap: 5px;
  }
}
@media screen and (max-width: 370px) {
  .homeGamesContainer {
    margin-left: 5px !important;
  }
  .gameTabImg {
    max-height: 90px;
  }
  .gameTabData {
    column-gap: 0;
  }
}
@media screen and (max-width: 365px) {
  .game img {
    max-height: 80px;
  }
  .gameTitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 350px) {
  .tabs {
    column-gap: 0;
  }

  .winner {
    padding: 5px;
    column-gap: 4px;
  }
  .winnerText {
    column-gap: 15px;
  }
  .winnerText p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 340px) {
  .homeGamesContainer {
    text-align: left;
    padding: 0 8px;
  }
  .tab img {
    height: 35px;
  }
  .tabs {
    row-gap: 4px;
  }
  .game img {
    max-height: 80px;
  }
}
@media screen and (max-width: 326px) {
  .game img {
    max-height: 75px;
  }
}
@media screen and (max-width: 305px) {
  .game img {
    max-height: 70px;
  }
}
@media screen and (max-width: 292px) {
  .game img {
    max-height: 65px;
  }
}
